*{
    margin: 0;
}

.debug
{
    header {
        background-color:aqua
    }

    .header-container {
        background-color:darkgoldenrod;
        display: flex;
    }

    .jumbotron-container
    {
        background-color: blue;
        
        .jumbotron
        {
            background-color: rgb(255, 161, 244);
        }
    }

    .container,
    #invite-only,
    #fandom
    {
    background-color: white;

        .left,
        .community-left
            {
                background-color:aqua;
            }

        .right,
        .community-right
            {
                background-color:pink;
            }
    }

    .container
    {
        background-color: lightgrey;
        
        .technology
        {
            background-color: green;
        }
    }

    .top-footer
    {
        background-color: rgb(39, 39, 39);

        .top-footer-social
        {
        background-color: rgb(254, 121, 143);
        }

        .top-footer-prodotto
        {
            background-color: rgb(1, 174, 157);
        }

        .top-footer-compagnia
        {
            background-color: rgb(1, 174, 157);
        }

        .top-footer-risorse
        {
            background-color: rgb(1, 174, 157);
        }

        .top-footer-norme
        {
            background-color: rgb(1, 174, 157);
        }
    }

    .footer-bottom
    {
        background-color: rgb(39, 39, 39);

    #logo-footer {
        background-color: rgb(254, 121, 143);
    } 

    #footer-button
    {
        background-color: rgb(254, 121, 143);;
    }

    .footer-bottom-container {
        background-color: aquamarine;
    }
    }
}



/* Utilities */
ul
{
    list-style: none;
    padding: 0px;
    display: flex;
}

li
{
    margin-left: 2px;
}

a
{
    text-decoration: none;
    color: black;
}


/* Header */
header
{
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0.2rem;
}

/* Main */

/* Jumbotron */

.jumbotron-container
{
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
}

.jumbotron
{
    width: 60%;
    height: 300px;
}

/* invite-only + fandom + community-container + technology-container */

.container
{
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
}

.left
{
    width: 50%;
    height: 300px;
}

.right
{
    width: 30%;
    height: 300px;
}

/* community */

.community-left
{
    width: 30%;
    height: 300px;
}

.community-right
{
    width: 50%;
    height: 300px;
}

/* Technology */

.technology
{
    width: 80%;
    height: 600px;
}

/* Footer */

/* Top Footer */

.top-footer
{
    padding: 0.5rem 2rem 1.5rem 2rem;
    display: flex;
    justify-content: center;
}

.top-footer-social
{
    width: 20%;
    height: 400px;
}

.top-footer-prodotto
{
    width: 15%;
    height: 400px;
}

.top-footer-compagnia
{
    width: 15%;
    height: 400px;
}

.top-footer-risorse
{
    width: 15%;
    height: 400px;
}

.top-footer-norme
{
    width: 15%;
    height: 400px;
}

/* Footer-bottom */

.footer-bottom
{
    padding: 1rem 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-bottom-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem;
}

